<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" thread-count="2" preserve-order="true" name="D:\JavaExamples\firsttest\src\test\java\ua\org\mwdn\ExampleTest.java">
        <classes>
            <class name="ua.org.mwdn.ExampleTest">
                <methods>

                    <include name="invalidLoginTest"/>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>